 <html>
  <head>
    <title>Home</title>
	<meta charset="UTF-8">
    <link rel="shortcut icon" type="image/gif" href="res/home.png" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300' rel='stylesheet' type='text/css'>
    <link href='res/style.css' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="res/angular.js"></script>
    <script type="text/javascript" src="app/main.js"></script>
  </head>

  <body ng-app="HomepageLoader" ng-controller="MainController">
    <center>
      <div class="date"><font size=72>{{date}}</font></div>
      <p>{{weather}}</p>
      <hr width=50%>
      <table>
        <!-- Header -->
        <tr>
          <td ng-repeat="k in keys">{{k}}</td>
        </tr>
        <!-- Links -->
        <tr ng-repeat="rowNum in maxRow">
          <td ng-repeat="k in keys"><a href={{bookmarks[k][rowNum][1]}}>{{bookmarks[k][rowNum][0]}}</a></td>
        </tr>
      </table>
    </center>
  </body>
</html>
