body {
  background : #ffffff;
  background : radial-gradient(ellipse at center, #ffffff 0%, #eee 100%);
  background : -moz-radial-gradient(#ffffff, #ffffff);
  background-image: url("bg.jpeg");
}

.date {
  font-weight : 100;
}

div {
  margin-top: 15%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style : normal;
  color : #f44336;  /*Alters the theme color*/
  margin : 5px;
}

td, tr {
  width: 20%;
  text-align: center;
}
a {
  font-weight: 100;
  color : #000;
}
a:hover{
  color: #eee;
}
a:link {
  text-decoration : none;
  text-shadow: 0px 0px 0px #000;
}
